*.egg
*.egg-info
*.pyc
*.ini
*$py.class
*~
.coverage
.coveragerc
coverage.xml
build/
dist/
.tox/
acme/static/*/visualrdf*
acme/static/*/lodlive*
__pycache__
nosetests.xml
data/slm*
data/logs*
acme/static/js/jquery_unused*
acme/static/css/jquery_unused*
env*/
scripts*
acme/tests/schemas*
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
