/** @prefix : <http://purl.org/net/ns/doas#> .
<http://www.kanzaki.com/parts/css3.css> a :CSSStylesheet;
 :title "The Web KANZAKI CSS3 stylesheet";
 :shortdesc "Style rules with CSS3 selectors. Originally a part of kan01.css";
 :created "2004-11-01";
 :release [:revision "1.07"; :created "2007-08-02"];
 :author [:name "KANZAKI, Masahide"; :homepage <http://www.kanzaki.com/> ];
 :license <http://creativecommons.org/licenses/GPL/2.0/>;
*/

/** avoid bg image annoyance */

p, ul, ol, div, table {
	background-color: transparent; /* moved here to avoid NN4 trouble */
}

/* ----------------------------------------------- */
/** @Screen media */
/* ----------------------------------------------- */
@media screen{
	/** access keys */
	*[accesskey]:after{
		font-size: 80%;
		vertical-align:super;
		content: "<" attr(accesskey) ">";
	}
	/** external link */
	a[href^="http:"]:after {
		content: url("/img/kanzaki/netref.gif");
	}
	a[href^="http://www.kanzaki"]:after {
		content: "";
	}
	a[href^="http://kanzaki"]:after {
		content: "";
	}
	/* in case of photo link */
	.fphoto a[href^="http:"]:after, a.fphoto:after {
		content: "";
	}
	.example a[href^="http:"]:after {
		content: "";
	}
}

/* ----------------------------------------------- */
/** @Print media */
/* ----------------------------------------------- */
@media print{
	.main a[href^="http:"]:after {
		content: " <" attr(href) "> ";
		font-size: 80%;
		font-family: monospace;
		font-style:normal;
		color:gray;
	}
	dl.refs a[href^="http:"]:after {
		content: "";
	}
}

